@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Barlow', sans-serif;
  color: #5a636c; }

.mb-m {
  margin-bottom: 3rem; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: 'Fraunces', serif;
  font-weight: 900; }

body {
  font-size: 1.8rem; }

.heading-1 {
  font-size: 6rem;
  color: white;
  letter-spacing: 1rem;
  line-height: 1;
  text-transform: uppercase; }

.heading-2 {
  color: #23303e;
  font-size: 4rem; }

.heading-3 {
  font-size: 3rem;
  color: #23303e; }
  .heading-3--blue {
    color: #19536b; }
  .heading-3--green {
    color: #25564b; }

.heading-4 {
  color: #a7abae;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5rem; }

.paragraph {
  line-height: 1.4; }
  .paragraph--bold {
    font-weight: 600; }
  .paragraph--blue {
    color: #19536b; }
  .paragraph--green {
    color: #25564b; }

.more-link {
  position: relative;
  font-family: 'Fraunces', serif;
  color: #23303e;
  text-decoration: none;
  text-transform: uppercase;
  width: max-content; }
  .more-link::after {
    position: absolute;
    bottom: -0.2rem;
    left: -1rem;
    content: '';
    height: 1rem;
    width: 0;
    background-color: #fad400;
    z-index: -1;
    border-radius: 9999px;
    transition: width 0.2s ease-out; }
  .more-link:hover::after {
    width: calc(100% + 2rem); }
  .more-link--red:hover::after, .more-link--red::after {
    background-color: #fe7867; }

.link {
  position: relative;
  font-weight: 600;
  text-decoration: none;
  color: white; }
  .link:after {
    content: '';
    background-color: white;
    height: 2px;
    width: 0px;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: width 0.2s ease-out; }
  .link:hover:after {
    width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .link {
      color: #5a636c; } }

.link--btn {
  display: inline-block;
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
  font-weight: 700;
  background-color: white;
  color: #23303e;
  padding: 1.5rem 3rem;
  border-radius: 99999px;
  position: relative;
  overflow: hidden;
  transition: background 0.8s linear, color 0.8s linear; }
  @media only screen and (max-width: 37.5em) {
    .link--btn {
      background-color: #fad400;
      padding: 2rem 3rem; } }
  .link--btn:after {
    content: unset; }
  .link--btn:before {
    content: '';
    position: absolute;
    width: 30rem;
    top: 0;
    left: -200%;
    right: 0;
    bottom: 0;
    z-index: 30;
    border-radius: 9999px;
    background: linear-gradient(90deg, rgba(250, 212, 0, 0.6) 0%, rgba(254, 120, 103, 0.6) 100%);
    transform: skewX(-10deg);
    transition: left 0.5s linear; }
    @media only screen and (max-width: 37.5em) {
      .link--btn:before {
        all: initial; } }
  .link--btn:hover {
    background: rgba(255, 255, 255, 0.6);
    color: white;
    transition: background 0.4s linear, color 0.4s linear; }
    @media only screen and (max-width: 37.5em) {
      .link--btn:hover {
        text-decoration: underline;
        transition: none;
        background-color: #fad400;
        color: #23303e; } }
  .link--btn:hover:before {
    left: 200%; }

.about {
  overflow-x: hidden; }
  .about__article {
    display: flex; }
    @media only screen and (max-width: 37.5em) {
      .about__article {
        flex-direction: column; } }
  .about__img {
    flex: 0 0 50%;
    display: flex; }
    @media only screen and (max-width: 37.5em) {
      .about__img--order {
        order: 2; } }
    .about__img img {
      display: block;
      object-fit: cover;
      height: auto;
      width: 100%; }
  .about__content {
    flex: 0 0 50%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .about__content > *:not(:first-child) {
      margin-top: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .about__content {
        align-items: center;
        text-align: center; } }
    @media only screen and (max-width: 37.5em) {
      .about__content--order-2 {
        order: 2; } }

.footer {
  background-color: #9dddcf;
  padding: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .footer__logo {
    fill: #458c7e;
    width: 20rem;
    height: 4rem; }
  .footer a {
    text-decoration: none;
    color: #458c7e;
    font-weight: 600; }
    .footer a:hover {
      color: white; }

.nav-footer {
  margin: 6rem; }

.nav-footer__items {
  list-style: none;
  display: flex;
  flex-direction: row; }
  .nav-footer__items > *:not(:first-child) {
    margin-left: 6rem; }

.nav-social {
  margin: 3rem; }

.nav-social__items {
  list-style: none;
  display: flex;
  flex-direction: row; }
  .nav-social__items > *:not(:first-child) {
    margin-left: 3rem; }

.nav-social__item svg {
  fill: #458c7e;
  width: 2rem;
  height: 2rem; }
  .nav-social__item svg:hover {
    fill: white; }

.header {
  background-image: url(../../images/desktop/image-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Fix für iPads*/ }
  .header > *:not(:first-child) {
    margin-top: 13vh; }
  @media only screen and (max-width: 37.5em) {
    .header {
      background-image: url(../../images/mobile/image-header.jpg);
      background-attachment: scroll; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .header {
      background-attachment: scroll; } }
  .header__navigation {
    width: 100%;
    padding: 3rem 4rem;
    display: flex;
    align-items: center; }
  .header__logo {
    margin-right: auto; }
  .header__arrow {
    position: relative;
    overflow: hidden; }
    .header__arrow img {
      object-fit: cover;
      position: relative;
      bottom: 0;
      transform-origin: bottom;
      animation: arrow-down 1s 4;
      animation-delay: 2s; }
  .header .nav__items {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .header .nav__items {
        flex-direction: column;
        padding-top: 3rem; } }
    .header .nav__items > *:not(:first-child) {
      margin-left: 2rem; }
      @media only screen and (max-width: 37.5em) {
        .header .nav__items > *:not(:first-child) {
          margin-left: 0;
          margin-top: 5rem; } }
  .header .nav__item {
    list-style: none; }
  @media only screen and (max-width: 37.5em) {
    .header .nav {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      left: 50%;
      top: 10rem;
      width: calc(100% - 8rem);
      height: 0;
      padding: 8rem 0 5rem;
      transform: translateX(-50%);
      font-size: 3rem;
      background-color: white;
      clip-path: polygon(0 10%, 90% 10%, 100% 0, 100% 100%, 0 100%);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 999;
      transition: opacity 0.5s ease-out; } }
  @media only screen and (max-width: 37.5em) {
    .header .nav--active {
      visibility: visible;
      opacity: 1;
      height: initial; } }
  .header .nav-icon {
    display: none;
    position: relative;
    height: 2px;
    width: 3rem;
    background-color: white;
    cursor: pointer; }
    .header .nav-icon:before, .header .nav-icon:after {
      content: '';
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: white;
      transition: all 0.5s ease-out; }
    .header .nav-icon::before {
      transform: translateY(-8px); }
    .header .nav-icon:after {
      transform: translateY(8px); }
    .header .nav-icon--active {
      background-color: transparent; }
      .header .nav-icon--active::before {
        transform: rotate(135deg); }
      .header .nav-icon--active::after {
        transform: rotate(-135deg); }
    @media only screen and (max-width: 37.5em) {
      .header .nav-icon {
        display: block; } }

@keyframes arrow-down {
  0% {
    top: -100%; }
  50% {
    transform: scaleY(0.6);
    top: 0; }
  100% {
    transform: scaleY(1);
    top: 0; } }

.projects {
  display: flex;
  flex-wrap: wrap; }
  .projects__card {
    flex: 0 0 25%;
    position: relative;
    perspective: 180rem; }
    @media only screen and (max-width: 50em) {
      .projects__card {
        flex: 0 0 50%; } }
    @media only screen and (max-width: 37.5em) {
      .projects__card {
        display: grid;
        grid-template-rows: repeat(2, 1fr); } }
  .projects__card-front, .projects__card-back {
    transition: transform 0.6s ease-out; }
  .projects__card-front {
    width: 100%;
    transform: rotateY(0deg); }
  .projects__card-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2rem;
    z-index: 3;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: #23303e; }
    .projects__card-back--1 {
      background-color: rgba(78, 201, 253, 0.7); }
    .projects__card-back--2 {
      background-color: rgba(255, 153, 0, 0.7); }
    .projects__card-back--3 {
      background-color: rgba(78, 201, 253, 0.7); }
    .projects__card-back--4 {
      background-color: rgba(254, 120, 103, 0.7); }
    @media only screen and (max-width: 50em) {
      .projects__card-back {
        transform: rotateY(0deg);
        padding: 8rem; } }
    @media only screen and (max-width: 37.5em) {
      .projects__card-back {
        position: relative;
        padding: 1rem;
        font-size: 1.4rem; } }
  .projects__card:hover .projects__card-front {
    transform: rotateY(-180deg); }
    @media only screen and (max-width: 50em) {
      .projects__card:hover .projects__card-front {
        transform: unset; } }
  .projects__card:hover .projects__card-back {
    transform: rotateY(0); }
    @media only screen and (max-width: 50em) {
      .projects__card:hover .projects__card-back {
        transform: unset; } }
  .projects__img img {
    object-fit: cover;
    width: 100%;
    display: block;
    min-height: 100%; }

.services {
  display: flex; }
  @media only screen and (max-width: 50em) {
    .services {
      display: block; } }
  .services__article {
    position: relative;
    flex: 0 0 50%; }
  .services__img {
    display: flex; }
    .services__img img {
      display: block;
      object-fit: cover;
      height: auto;
      width: 100%; }
  .services__content {
    position: absolute;
    bottom: 0;
    padding: 10% 20%;
    text-align: center; }

.testimonials {
  padding: 12rem 10rem; }
  @media only screen and (max-width: 37.5em) {
    .testimonials {
      padding: 6rem 5rem; } }
  .testimonials__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    padding: 5vw 0;
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .testimonials__container {
        display: block; } }
  .testimonials__article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .testimonials__article:not(:first-child) {
        margin-top: 4rem; } }
  .testimonials__img {
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    margin-bottom: 6rem;
    margin-top: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .testimonials__img {
        margin: 2rem; } }
  .testimonials__name {
    margin-top: 6rem;
    font-family: 'Fraunces', serif;
    color: #23303e;
    margin-bottom: 0.5rem; }
    @media only screen and (max-width: 37.5em) {
      .testimonials__name {
        margin-top: 2rem; } }
  .testimonials__position {
    font-size: 1.4rem;
    color: #a7abae; }
